[submodule "vendor/mobify-js/1.0/base"]
	path = vendor/mobify-js/1.0/base
    url = https://github.com/mobify/mobifyjs.git
[submodule "vendor/mobify-js/1.1/base"]
	path = vendor/mobify-js/1.1/base
    url = https://github.com/mobify/mobifyjs.git
[submodule "vendor/mobify-js/1.2/base"]
	path = vendor/mobify-js/1.2/base
    url = https://github.com/mobify/mobifyjs.git
[submodule "vendor/mobify-js/1.3/base"]
	path = vendor/mobify-js/1.3/base
	url = git@github.com:mobify/mobifyjs.git
[submodule "vendor/mobify-js/1.1.1/base"]
	path = vendor/mobify-js/1.1.1/base
	url = https://github.com/mobify/mobifyjs
[submodule "vendor/mobify-js/1.3.1/base"]
	path = vendor/mobify-js/1.3.1/base
	url = git@github.com:mobify/mobifyjs.git
	branch = 1.3.1
[submodule "vendor/mobify-js/1.0.1"]
	path = vendor/mobify-js/1.0.1
	url = git@github.com:mobify/mobifyjs.git
	branch = 1.0.1-scroll-fix
