<!DOCTYPE html>
<html>
<head>
    <title>Mobify.js Error</title>
    <link rel="stylesheet" href="//cloud.mobify.com/static/css/base.css">
</head>
<body>
    <div class="container">
        <h1>Mobify.js Error</h1>
            <pre><% if (error.url) { %>File: <%= error.url %><% } %>
<% if (error.index) { %>:<%= error.index %><% } %>
<% if (error.line) { %>Line: <%= error.line %><% } %>
<%= error.message %></pre>
</body>
</html>
