{>base_smartphone/}

{<body}
    {#content}
    
    	<div id="x-context-nav" class="x-category-nav">
    	
    		{accountMenu}
    	
    	</div>
    	
    	{?errorHeader}
    	<div id="x-error">
    	{errorHeader}
    	</div>
    	{/errorHeader}
    	
    	{messageFlash}
    	        
        {accountInfoForm}
        
    {/content}
    
{/body}
