{>base/}

{<head}
	{_SUPER_}
	<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
{/head}

{<header}
	<header id="x-header">{>_header/}</header>
{/header}

{<footer}
	<footer id="x-footer">{>_footer/}</footer>
{/footer}